name: Build and deploy Next.js standalone app to Azure Web App - yikes-test-app

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22.x'

      - name: Install dependencies
        run: npm ci

      - name: Build standalone Next.js app
        run: npm run build

      - name: Package standalone build
        run: zip -r release.zip .next/standalone .next/static public package.json

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: app
          path: release.zip


  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: app

      - name: Unzip artifact
        run: unzip release.zip

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_29774D56CC214629BECA471903125ACA }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_648AD073DC924A389CAFE126E3A7994F }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_195CA1FE9C9448A4B39FDD8749BF7FE6 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'yikes-test-app'
          slot-name: 'Production'
          package: .